*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --h1: 2.5rem;
  --h2: 1.875rem;
  --h3: 1.25rem;

  --h1-mobile: 1.5rem;

  --desktop-space-base: 2.5rem;

  --padding-xxs: .15rem;
  --padding-xs: .25rem;
  --padding-sm: .5rem;
  --padding-base: 1rem;
  --padding-lg: 1.5rem;
  --padding-xlg: 2rem;
  --padding-xxl: 2.5rem;
  --padding-xxxl: 5rem;

  --margin-xsm: .15rem;
  --margin-sm: .25rem;
  --margin-base: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 2rem;
  --margin-xxl: 4rem;

  /* buttons */
  --btn-base: 1rem;
  --border-radius-sm: .25rem;
  --border-radius-base: .5rem;
  --border-radius-lg: 1rem;


  --gap-sm: .5rem;
  --gap-base: 1rem;
  --gap-lg: 1.5rem;
  --gap-xl: 2rem;
  --gap-xxl: 4rem;

  --max-image-width: 5rem;

  --hero-font-style: normal;

  --header-font-size: 1.5rem;

  --logo-max-width: 10rem;

  font-size: 1rem;

  /* "brand" colors */
  --pink: #DFB4C2;
  --sand: #f6ece5;
  --sand-light: #f1f0ef;
  --tan: #E3CDBD;
  --sky: #A2C9CE;
  --sky-transparent: #b3ebf2b6;
  --ocean: #3A818C;
  --icon-color: #1e444a;

  --sea-green: #7ec3b9c2;


  --fontsize-bigger: 1.5rem;
}

.italics {
  font-style: italic;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

button, .btn {
  display: block;
  width: 100%;
  padding: var(--padding-base);
}

.btn {
  background-color: var(--sky);
  border: solid 2px var(--icon-color);
  color: var(--icon-color);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25), 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius-base);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
  margin: var(--margin-base) 0;
}

.header-cta a {
  background-color: var(--sand);
  border: var(--tan) solid 2px;
}

.section-btn {
  text-align: center;
  background-color: var(--sand);
  border: var(--tan) solid 2px;
}

.mobile-header {
  display: flex;
}

.desktop-header {
  display: none;
}

header {
  color: var(--sand);
  font-size: var(--header-font-size);
  background-image: url(assets/beach1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-image-container {
  padding: var(--padding-xxl) var(--padding-base);

}

.current-nav {
  font-weight: bold;
}

.logo {
  margin: var(--margin-base);
  max-width: var(--logo-max-width);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-base);
  text-align: center;
  color: var(--icon-color);
  padding: var(--padding-sm);
  border-radius: var(--border-radius-base);
}

.menu-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-base);
  text-align: center;
  color: var(--icon-color);
  background-color: var(--sky-transparent);
  padding: var(--padding-sm);
  border-radius: var(--border-radius-base);
}

.menu-ul li {
  list-style-type: none;
}

.welcome-greeting {
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: var(--border-radius-base);
  background-color: var(--sky-transparent);
  margin: var(--margin-base);
  padding: var(--padding-sm);
  color: var(--icon-color);
}

.welcome-greeting h1 {
  font-family: cursive;
}

.welcome-greeting h2 {
  font-style: italic;
  font-weight: lighter;
  color: var(--icon-color);
}

.no-background {
  background: none;
}

.info-section {
  margin: var(--desktop-space-base);
  padding: var(--desktop-space-base);
  background-color: var(--sea-green);
  border-radius: var(--border-radius-base);
}

.book-btn {
  background-color: var(--sand-light);
}

.card {
  border-radius: var(--border-radius-base);
  background-color: var(--sand);
  padding: var(--padding-sm);
  margin: var(--margin-base) 0;
}

.search {
  display: flex;
  align-items: center;
  gap: var(--gap-base);
}

.search .btn {
  padding: var(--padding-sm);
}

/* ****** form style ******* */

form {
  border: solid green 2px;
  padding: var(--padding-base);
  margin: var(--margin-sm) 0;
  border-radius: var(--border-radius-sm);
  border: 2px solid var(--icon-color);
  /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25), 0 6px 12px rgba(0, 0, 0, 0.15); */
}

input, select {
  display: block;
  width: 100%;
  max-width: 75ch;
  padding: var(--padding-sm);
  margin: var(--margin-sm) 0;
  border: 1px solid var(--sand);
  border-radius: var(--border-radius-sm);
  box-sizing: border-box;
}

.submit {
  width: 100%;
  padding: var(--padding-base);
  margin: var(--margin-base) 0;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

.submit:hover {
  background-color: var(--sea-green);
}

/* **** accordion style ****** */

.accordion-container details {
  border: 1px solid var(--sand);
  border-radius: var(--border-radius-sm);
  margin: var(--margin-base);
  margin-top: 0;
  background-color: var(--sand-light);
}

.accordion-container summary {
  padding: var(--padding-lg);
  background-color: var(--sand-light);
  cursor: pointer;
  font-weight: bold;
  list-style: none;
}

/* Add custom arrow indicator using a pseudo-element */
.accordion-container summary i{
  float: right;
  transition: transform 0.3s ease;
}

/* Rotate the arrow when the details element is open */
.accordion-container details:open i {
  transform: rotate(180deg);
}

.accordion-content {
  padding: var(--padding-lg);
  border-top: 2px solid var(--tan);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.accordion-container details:open .accordion-content {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}





footer {
  background-color: var(--sand);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-menu-column {
  padding: var(--padding-base);
}

.footer-menu-column li {
  list-style-type: none;
}

.cta {
  padding: var(--padding-base);
}

/***** experience page *******/
.grid-section {
  display: flex;
  justify-content: center;
}

.grid3-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: var(--gap-base);
  padding: var(--padding-base);
  margin: var(--margin-base);
}

.item img {
  aspect-ratio: 4/4;
}


.exp-section {
  position: relative;
  border: solid red 2px;

}

.exp-section > div {
  /* border: orange 2px solid; */
}

.section-image-container {
  right: -50%;
}

.section-image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.section-text-container {

}

.main-card {
  margin: var(--margin-base);
}



/* desktop */
@media (min-width: 1024px) {

.mobile-header {
  display: none;
}

.desktop-header {
  display: flex;
}

header {
  display: flex;
  color: var(--sand);
  font-size: var(--header-font-size);
  background-image: none;
  background-repeat: no-repeat;
}

.hero {
  width: 100%;
  aspect-ratio: 25/10;
  background-image: url(assets/beach1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-background {
   width: 100%;
  aspect-ratio: 25/10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
}

.welcome-greeting {
  padding: var(--padding-lg) var(--padding-xxxl);
}

.header-row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: var(--margin-base);
  max-width: var(--logo-max-width);
}

.menu-ul {
  flex-direction: row;
  padding: var(--padding-base);
}

.menu-ul li:hover {
  color: var(--ocean);
}

h2 {
  font-size: var(--h2);
  padding-bottom: var(--padding-base);
}

.cta a {
  transition: .2s ease-in;
}

.cta a:hover {
  background-color: var(--sea-green);
  border: solid 2px var(--icon-color);
  color: var(--sand);
}

.info-section {
  margin: var(--margin-xl);
  padding: var(--padding-base);
  background-color: var(--sea-green);
  border-radius: var(--border-radius-base);
}

.book2 .btn:hover, .book-btn:hover {
  background-color: var(--sky-transparent);
}

.booking-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-base);
}

.book2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.align-right {
  grid-column-start: 3;
  display: flex;
  justify-content: end;
}
.section-btn, .btn {
  max-width: max-content;
}

.grid-2-column {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.margin-column {
  margin: var(--margin-xxl);
  margin-bottom: var(--margin-base);
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image-container img{
  width: 100%;      /* Make the image take the full width of the container */
  height: 100%;     /* Make the image take the full height of the container */
  object-fit: cover; /* Scale the image to cover the entire container while preserving aspect ratio and cropping overflow */
  object-position: center;
}

.header-text {
  padding: var(--padding-lg);
}

.subtitle {
  font-style: italic;
  padding-bottom: var(--padding-base);
}

.grid-3-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-base);
}

.grid-3-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-base);
}

.card-image-container {
  aspect-ratio: 4/3;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: var(--padding-xxxl) 0;
}

.footer-menu {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-base);
}

.footer-menu-column li {
  text-decoration: underline;
  margin-top: var(--margin-base);
  list-style-type: none;
}

.footer-menu-column li:hover {
  text-decoration: .25rem var(--ocean) underline;
  transform: scale(105%);
  color: var(--ocean)
}

footer .cta {
  display: flex;
  justify-content: end;
  margin-right: var(--margin-xl);
}

/* *** experience section for desktop **** */

.grid3-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: var(--gap-sm);
  padding: var(--padding-base);
  margin: var(--margin-xxl);
}

.item img {
  aspect-ratio: 4/4;
}




/*
.book2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25), 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius-base);
  padding: var(--padding-base);
  margin: var(--margin-base);
  background-color: var(--sand);
  color: var(--icon-color);
}

.booking-section > * {
  display: flex;
  justify-content: center;
  gap: var(--gap-base);
}

.book2 .btn {
  background-color: var(--sea-green);
  color: var(--ocean);
}

.search i {
  padding: var(--padding-base);
  background-color: var(--sky-transparent);
  border-radius: var(--border-radius-base);
}

.book2 i {
  color: var(--icon-color);
}

.booking-btn {
  display: flex;
  background-color: var(--sand);
  color: var(--icon-color);
}
 */

/* .book2 .book-btn {
  display: flex;
} */

/* .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
} */

}
